html,body {
    height: 100%;
}

#d3-map-nr1-container svg, #d3-map-nr2-container svg {
    display: block;
    height: 500px;
    width: 100%;
}

#d3-line-one-container svg {
    display: block;
    height: 300px;
    width: 100%;
}

#d3-line-two-container svg {
    display: block;
    height: 300px;
    width: 100%;
}

#d3-line-nr3-container svg {
    display: block;
    height: 300px;
    width: 100%;
}

#d3-line-nr4-container svg {
    display: block;
    height: 300px;
    width: 100%;
}

#d3-line-nr5-container svg {
    display: block;
    height: 150px;
    width: 100%;
}

#d3-line-nr6-container svg {
    display: block;
    height: 150px;
    width: 100%;
}

#d3-line-nr7-container svg {
    display: block;
    height: 400px;
    width: 100%;
}

#d3-line-nr8-container svg {
    display: block;
    height: 300px;
    width: 100%;
}

#d3-line-nr9-container svg {
    display: block;
    height: 300px;
    width: 100%;
}